/*NAVBAR*/

body{
  font-family: 'Red Rose', cursive;;
}

.navbarcolor{
    background-color: #303536;
}

.navtext a,p{
    color: #ffffff;
}

.navtext a:hover{
    color: #007DFC;
}

.lead-active{
    text-decoration: underline;
}

.custom-toggler.navbar-toggler { 
    border: 2px solid  #ffffff;
  } 


.footer-custom{
  width: 100%;
}

.py-login{
  padding-top: 1%;
  padding-bottom: 5%;
}

.fondoLogin1{
  position: absolute;
  background-color: #007DFC;
  width: 85%;
  height: 150px;
  bottom: 0px;
}

.fondoLogin2{
  position: absolute;
  width: 0;
  height: 0;
  border-right: 422px solid transparent;
  border-top: 13px solid transparent;
  border-left: 50px solid #007DFC;
  border-bottom: 100px solid #007DFC;
  bottom: 29%;
}

.fondoLogin1-invalid{
  position: absolute;
  background-color: #ED3C3C;
  width: 85%;
  height: 150px;
  bottom: 0px;
}

.fondoLogin2-invalid{
  position: absolute;
  width: 0;
  height: 0;
  border-right: 422px solid transparent;
  border-top: 13px solid transparent;
  border-left: 50px solid #ED3C3C;
  border-bottom: 100px solid #ED3C3C;
  bottom: 29%;
}

.imgLogin{
  position: relative;
  z-index: 1;
}

/* FONDO DE PANTALLA */
.fondoPantalla{
  background-color: #292929;
}

/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width:576px){
    .logohead{
        width: 50px;
        margin-left: 10px;
      }

      .header-margin{
        margin-bottom: 82.88px;
      }
    }
  
  /*SMALL DEVICES*/
  @media all and (min-width:576px) and (max-width:768px){
    .logohead{
        width: 70px;
        margin-left: 10px;
      }

      .header-margin{
        margin-bottom: 105.63px;
      }
    }
  
  /*MEDIUM DEVICES*/
  @media all and (min-width: 768px) and (max-width:991px){
    .logohead{
        width: 70px;
        margin-left: 10px;
      }

      .header-margin{
        margin-bottom: 105.63px;
      }
    }
  
  /*LARGE DEVICES*/
    @media all and (min-width: 991px) and (max-width:1200px){
        .logohead{
            width: 70px;
            margin-left: 10px;
          }

        .header-margin{
            margin-bottom: 105.63px;
          }

    }
  
  /*XTRA LARGE DEVICES*/
    @media all and (min-width: 1200px){
        .logohead{
            width: 70px;
            margin-left: 10px;
          }

        .header-margin{
            margin-bottom: 105.63px;
          }
    } 